.form-control {
	width : auto;
}

.chzn-container-single .chzn-single {
	height: auto;
	line-height: 34px;
}

.add_article {
	margin-bottom: 1.5em;
}

.add_article a {
	float: right;
}

.row-fluid .span10 {
	width: 82%;
}

.foldable-list .accordion-group .control-group-small .control-label {
	width: auto;
	float: left;
	margin-left: 15px;
	width: 75px;
}

.control-group-small {
	margin: 1.5em 0;
}

.margin_up_down1 {
	margin: 1em 0;
}

.m_t5 {
	margin-left: 85px;
}

.form-horizontal .control-label {
    float: left;
    width: 135px;
    padding-top: 5px;
    text-align: right;
}

.mar_b_l {
	margin: 0 0 10px 15px;
}

.choose_list i:last-child, .choose_list span:last-child, .choose_list a.btn:last-child, .choose_list input:last-child {
	line-height: 20px;
}